.cart-container {
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  flex-wrap: wrap; /* mobilde alt satıra geçsin */
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.cart-item p {
  margin: 0;
  flex: 1;
}

.cart-item button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .cart-item div {
    margin-top: 5px;
  }
}
